function 4get ()
{
	curl $1 | grep -i "File<a href" | awk -F '<a href="' '{print $4}' | awk -F '" ' '{print $1}' | xargs wget
}

function browse ()
{
	/usr/bin/chromium-browser --user-data-dir=$HOME/.config/chromium/$1 &
}

function browse-tmp ()
{
	/usr/bin/chromium-browser --temp-profile &
}

function browse-profile ()
{
	/opt/google/chrome/google-chrome --user-data-dir=$HOME/.config/google-chrome/`zenity --entry --text="Enter a profile name:"`
}

function tgz ()
{
	tar -czvf `basename $1`.tgz $1
}

function tgzd ()
{
	tar -czvf `basename $1`.`date +"%F_%H-%M-%S"`.tgz $1
}

function gpgzd ()
{
	NAME=`basename $1`.`date +"%F_%H-%M-%S"`.tgz
	tar -czvf $NAME $1
	gpg -c $NAME
	rm -f $NAME
}

function wallpaper ()
{
	rm -f ~/.wallpaper
	ln -s `pwd`/$1 ~/.wallpaper
	feh --bg-fill ~/.wallpaper
}

function apt-update ()
{
	sudo apt-get update
	sudo apt-get $1 dist-upgrade
}

function apt-clean ()
{
	sudo apt-get -y autoremove
	sudo apt-get -y autoclean
}

function show-est ()
{
	sudo netstat -npt4e | grep ESTABLISHED
}

function show-listen ()
{
	sudo netstat -npt4l | grep -v 127.0.0.1
}
